#Preprocesamiento de datos

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/Social_Network_Ads.csv")

In [ ]:
#lista los N primero registros
data.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [ ]:
#Tipos de variables:

#Cualitativas:
  #Nominal : no existe un orden -> object
  #Ordinal : existe un orden en el texto -> object

#Cuantitativas:
  #Discreta : el 0 significa ausencia -> int64
  #Continua : el 0 tiene significado -> int64

data.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

##Analisis univariado

In [ ]:
#media
data["Age"].mean()

np.float64(37.655)

In [ ]:
#mediana
data["Age"].median()

37.0

In [ ]:
#moda
data["Age"].mode()

0    35
Name: Age, dtype: int64

In [ ]:
#quartil
print(data["Age"].quantile([0]))
print(data["Age"].quantile([0.25]))
print(data["Age"].quantile([0.50]))
print(data["Age"].quantile([0.75]))
print(data["Age"].quantile([1]))

0.0    18.0
Name: Age, dtype: float64
0.25    29.75
Name: Age, dtype: float64
0.5    37.0
Name: Age, dtype: float64
0.75    46.0
Name: Age, dtype: float64
1.0    60.0
Name: Age, dtype: float64

In [ ]:
#deciles
print(data["Age"].quantile([0]))
print(data["Age"].quantile([0.1]))
print(data["Age"].quantile([0.2]))
print(data["Age"].quantile([0.3]))
print(data["Age"].quantile([0.4]))
print(data["Age"].quantile([0.5]))
print(data["Age"].quantile([0.6]))
print(data["Age"].quantile([0.7]))
print(data["Age"].quantile([0.8]))
print(data["Age"].quantile([0.9]))
print(data["Age"].quantile([1]))

0.0    18.0
Name: Age, dtype: float64
0.1    24.0
Name: Age, dtype: float64
0.2    28.0
Name: Age, dtype: float64
0.3    31.0
Name: Age, dtype: float64
0.4    35.0
Name: Age, dtype: float64
0.5    37.0
Name: Age, dtype: float64
0.6    40.0
Name: Age, dtype: float64
0.7    42.0
Name: Age, dtype: float64
0.8    47.0
Name: Age, dtype: float64
0.9    52.1
Name: Age, dtype: float64
1.0    60.0
Name: Age, dtype: float64

In [ ]:
#Rango
print(data["Age"].min())
print(data["Age"].max())

18
60

In [ ]:
#Rango intercuartílico
print(data["Age"].quantile(0.75))
print(data["Age"].quantile(0.25))
print(data["Age"].quantile(0.75) - data["Age"].quantile(0.25))

46.0
29.75
16.25

In [ ]:
#Varianza
data["Age"].var()

109.89070175438606

In [ ]:
#Desviación estandar
data["Age"].std()

10.48287659730792

In [ ]:
#Coeficiente de variación
data["Age"].std()/data["Age"].mean()

np.float64(0.278392686158755)

In [ ]:
data["EstimatedSalary"].std()/data["EstimatedSalary"].mean()

np.float64(0.48889787837294024)

In [ ]:
#Coeficiente de asimetría
import scipy.stats as ss
ss.skew(data["Age"])

np.float64(0.23046904236325927)

In [ ]:
#Kurtosis
ss.kurtosis(data["Age"])

np.float64(-0.6297213829600437)

In [ ]:
data["Age"].describe()

count    400.000000
mean      37.655000
std       10.482877
min       18.000000
25%       29.750000
50%       37.000000
75%       46.000000
max       60.000000
Name: Age, dtype: float64

In [ ]:
data["EstimatedSalary"].describe()

count       400.000000
mean      69742.500000
std       34096.960282
min       15000.000000
25%       43000.000000
50%       70000.000000
75%       88000.000000
max      150000.000000
Name: EstimatedSalary, dtype: float64

##Analisis Bivariado

In [ ]:
#Coeficiente de correlacion:
#data.loc[:,["Age","EstimatedSalary"]].corr(method="pearson")
#data.loc[:,["Age","EstimatedSalary"]].corr(method="spearman")
data.loc[:,["Age","EstimatedSalary"]].corr(method="kendall")

                      Age  EstimatedSalary
Age              1.000000         0.083686
EstimatedSalary  0.083686         1.000000

In [ ]:
#Prueba de Correlación:
#H0: las variables NO están correlacionadas
#H1: las variables SI están correlacionadas

#se concluye según el valor de pvalue
#Si el pvalue < 0.05 -> Se rechaza la hipotesis nula -> Las variables SI están correlacionadas a un 95% de confianza
#Si el pvalue > 0.05 -> Se aceptala hipotsis nula -> Las variablñe NO están correlacionadas a un 95% de confianza
ss.kendalltau(data["Age"],data["EstimatedSalary"])

SignificanceResult(statistic=np.float64(0.08368633489101734), pvalue=np.float64(0.014197892722130716))