In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

print(f'Cantidad de: Observaciones y Variables: {df.shape}')
df.info()

Cantidad de: Observaciones y Variables: (400, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
# Ver las primeras 10 filas
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [5]:
# Ver los valores NA
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
# Media
print(f'Media: \n{df['Age'].mean()}')
print(f'Mediana: \n{df['Age'].median()}')
print(f'Moda: \n{df['Age'].mode()}')

Media:
37.655
Mediana:
37.0
Moda:
0    35
Name: Age, dtype: int64

In [ ]:
df['Age'].quantile([0]) # Q0

0.0    18.0
Name: Age, dtype: float64

El 25% de las personas tienen hasta 18 a√±os

In [12]:
# Cuartiles
print(df['Age'].quantile([0.25])) # Q1
print(df['Age'].quantile([0.5])) # Q2
print(df['Age'].quantile([0.75])) # Q3
print(df['Age'].quantile([1])) #Q4

0.25    29.75
Name: Age, dtype: float64
0.5    37.0
Name: Age, dtype: float64
0.75    46.0
Name: Age, dtype: float64
1.0    60.0
Name: Age, dtype: float64

In [11]:
# Deciles
print(df['Age'].quantile([0])) # D0
print(df['Age'].quantile([0.1])) # D1
print(df['Age'].quantile([0.2])) # D2
print(df['Age'].quantile([0.3])) #D3
print(df['Age'].quantile([0.4])) # D4
print(df['Age'].quantile([0.5])) # D5
print(df['Age'].quantile([0.6])) #D6
print(df['Age'].quantile([0.7])) # D7
print(df['Age'].quantile([0.8])) # D8
print(df['Age'].quantile([0.9])) # D9
print(df['Age'].quantile([1])) #D10

0.0    18.0
Name: Age, dtype: float64
0.1    24.0
Name: Age, dtype: float64
0.2    28.0
Name: Age, dtype: float64
0.3    31.0
Name: Age, dtype: float64
0.4    35.0
Name: Age, dtype: float64
0.5    37.0
Name: Age, dtype: float64
0.6    40.0
Name: Age, dtype: float64
0.7    42.0
Name: Age, dtype: float64
0.8    47.0
Name: Age, dtype: float64
0.9    52.1
Name: Age, dtype: float64
1.0    60.0
Name: Age, dtype: float64

In [14]:
# Rango
print(df["Age"].min())
print(df["Age"].max())

18
60

In [13]:
# Rango Intercuartil
print(df["Age"].quantile(0.75))
print(df["Age"].quantile(0.25))
print(df["Age"].quantile(0.75) - df["Age"].quantile(0.25))

46.0
29.75
16.25

In [15]:
# Varianza
print(f'Varianza: {df['Age'].var()}')
print(f'Desviaci√≥n Est√°ndar: {df['Age'].std()}')

Varianza: 109.89070175438596
Desviaci√≥n Est√°ndar: 10.482876597307914

In [17]:
# Coeficiente de variaci√≥n
print(f'Coeficiente de variaci√≥n: {df['Age'].std() / df['Age'].mean()}')

Coeficiente de variaci√≥n: 0.27839268615875484

In [18]:
import scipy.stats as ss

print(f'Coeficiente de asimetr√≠a: {ss.skew(df['Age'])}')

Coeficiente de asimetr√≠a: 0.23046904236325927

An√°lisis Bivariado (Sacar conclusiones entre variables)

In [ ]:
# Coeficiente de correlaci√≥n